.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: #2b004a;
  color: #fff;
}

.navbar_left,
.navbar_right {
  flex: 0 0 auto;
}

.kodigo_icon {
  width: 42px;
  filter: brightness(0) invert(1);
  padding: 6px;
  cursor: pointer;
  object-fit: contain;
}


.navbar_center {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.navbar_search {
  font-size: 1.2lvh;
  padding: 8px 24px;
  border-radius: 20px;
  border: none;
  outline: none;
  width: 18vw;
  min-width: 150px;
}

.navbar_button {
  background: none;
  justify-content: center;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 50%;
  background: #3e264f;
  padding: 5px;
}

.navbar_button:hover {
  filter: brightness(1.5);
  transform: scale(1.1);
}